nav {
  background-color: rgba(94, 105, 114, 0.795);
  padding: 3px;
  border-radius: 1rem;
}

.container_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.frame_nav {
  display: flex;
  align-items: center;
}

#image1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.frame2_nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.frame2_nav ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  color: white;
  cursor: pointer;
  
}

.linkTag{
  text-decoration: none;
  color:white;
}

.linkTag:hover{
  color:yellow;
}
.frame2 ul:hover {
  color: black;
}
