/* Queue_data.css */

.queueOperation {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 2rem;
}

.operationDetails {
  flex: 1;
  text-align: center;
}

.operationDetails img {
  width: 25rem;
  height: auto;

}

.operationDescription {
  flex: 2;
  padding-left: 1rem;
}

.operationDescription li{
    font-size:1.2rem;
}

.operationTitle {
  font-size: 1.75rem;
  color: #444;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
}

.operationTitle:hover {
  color: #333;
  border-color: #333;
}

.btn-visualize {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  margin-top: 0.8rem;
  float: left;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-visualize:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.operationDescription li {
  text-align: left;
}

@media (max-width: 48rem) {
  .queueOperation {
    flex-direction: column;
    align-items: flex-start;
  }

  .operationDetails {
    text-align: left;
    margin-bottom: 0.625rem;
    order: 1;
  }

  .operationDetails img {
    width: 25rem;
    height: auto;
    margin-left:2rem;
  }
  .operationDescription {
    /* padding-left: 0; */
    order: 2;
  }
  .btn-visualize {
    order: 3;
    /* width:100%; */
  }
}
