.stack-container{
    display: flex;
    justify-content: space-between;
}

.stack-image{
    border-radius: 4%;
}

.stack-push{
    display: flex;
    justify-items: self-start;
    margin-left: 20px;
}

.stack-example-push{
    display: flex;
    justify-items:start ;
}

.stack-example{
    margin-top:5px;
    display: flex;
}

.fa-regular{
    color: rgb(77, 126, 4);
    margin-left: 10px;
}

.fa-circle-xmark{
    color: rgb(188, 5, 5);
}

.stack-top{
    margin-left: 30px;
}

.stack-text li{
    margin-left:1.5rem;
}

.stack-text-pop li{
    margin-left:1.5rem;
}

.btn-visualize-stack {
    margin-left: 2.3rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    float: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-visualize-stack:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  
@media (max-width: 768px) {
    .stack-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .stack-image {
        width: 100%;
        margin-top: 1rem;
        order:1;
    }
    .stack-text{
        order:2
    }

    .btn-visualize-stack {
        width: 100%;
        text-align: center;
        margin-left: 0;
        order:3;
    }

    .stack-text ul,.stack-text-pop ul{
        padding: 0%;
    }
    .stack-example-push{
        text-align: justify;
    }
    
}

  