.size{
    margin-top: 30px;
    background-color: rgb(130, 213, 5);
}
.operations{
    margin-top:30px;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: rgb(130, 213, 5);
}

.container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container-elements{
    
    border: 1.7px solid rgb(2, 175, 115);
    background-color: #ffffff;
    width: autox;
    padding: 10px;
}

.elements{
    border: 2px solid black;
    border-color: rgb(20, 208, 218);
    width: 40px;
    height: 20px;
    margin: 20px;
}