.stack-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0;
}
.stack_p{
    text-align: justify;
}
.stack-container div {
    flex: 1;
}

.stack-image {
    width: 27rem;
    height: auto;
    margin-top: 2.5rem;
}

.stack-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stack-example-push {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0.5rem 0;
}

.stack-example li {
    list-style-type: none;
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.stack-example li i {
    margin-left: 0; /* Ensure no space between text and icon */
}

.btn-visualize-stack {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem; 
    margin-left: 1rem; /* Adjusted margin-left for the button */
}

.btn-visualize-stack:hover {
    background-color: #0056b3;
}

.stack-top {
    font-weight: bold;
}

@media (max-width: 768px) {
    .stack-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .stack-image {
        width: 100%;
        margin-top: 1rem;
        order:1;
    }
    .stack-text{
        order:2;
    }
    .btn-visualize-stack {
        width: 100%;
        text-align: center;
        margin-left: 0;
        order:3;
    }
}
